html {
    background: transparent url(/images/panoramix2.jpg) no-repeat center center fixed;
    background-size: cover;
}

h1#SGL {
    color: rgba(230, 193, 123, 0.6);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}
