@import "variables";

html,
body {
  height: 100%;
  overflow-x: hidden; /* https://stackoverflow.com/a/52019093  */
  font-family: 'Poppins', sans-serif;
}

body {
  background: transparent;
  display: flex;
  flex-direction: column;
}

/* main */
main[role="main"] {
  /* padding: 0.3rem; */
  flex-grow: 1 !important;
  width: 100%;
}

/* footer */
.footer {
  z-index: 999;
  color: darkgray;
  /* background: #cbe18e77; linear-gradient(0deg, #cbe18e, $footGradient 100%); */
}

.footer #version {
  color: inherit;
  font-family: monospace;
}

/* navbar */
.navbar {
  background: white !important; /* linear-gradient(180deg, #cbe18e, $headGradient 100%);*/
}

.navbar-brand {
  font-size: 18px;
  line-height: 20px;
}

a.nav-link {
  height:100%;
}

a.nav-link img {
  vertical-align: middle;
}

li.nav-item {
  background-color: white;
  padding: 0 1rem;
}

@media (min-width: 768px) {
  main[role="main"] {
    margin-top: 10rem;
  }
  .navbar {
    max-height: 60px;
    overflow: visible;
  }
  .navbar .logo {
    /* position: absolute;
    left: 0;
    top: 0; */
    padding-top: 9rem;
    z-index: 2;
    /* padding: 2rem; */
  }
  .navbar .logo svg {
    width: 200px;
    height: auto;
  }
  .navbar .logo svg path {
    stroke-width: $logoStrokeWidth;
  }
}
@media (max-width: 768px) {
  main[role="main"] {
    margin-top: 5rem;
  }
  .navbar {
    max-height: 0px;
    overflow: visible;
  }
  .navbar  .logo {
    /* display: none;
    position: absolute;
    left: 0;
    top: 0; */
    padding-top: 11.5rem;
    z-index: 2;
    padding: 1rem;
  }
  .navbar .logo svg {
    width: 50px;
    height: auto;
  }
  .navbar .logo svg path {
    stroke-width: $logoStrokeWidth;
  }
}

.binome {
  display: flex !important;
}

.binome > div {
  border: solid 1px lightgray;
  padding: 0.25rem !important;
  flex: 1 0 0%;
}

@media (orientation: landscape) {
  .binome {
    flex-direction: row;
  }
  .binome > div:first-child {
    margin-right: .5rem;
  }
  .binome > div:last-child {
    margin-left: .5rem;
  }
}

@media (orientation: portrait) {
  .binome {
    flex-direction: column;
  }
  .binome > div:first-child {
    margin-bottom: .5rem;
  }
  .binome > div:last-child {
    margin-top: .5rem;
  }
}

/* kitchen-sink */
ul,
ul > li {
  list-style-type: none;
}

