<nav class="navbar container navbar-light navbar-expand-md" style="padding:0 1rem"><a href="/" target="_self" class="navbar-brand nuxt-link-active">
        <div class="logo not-home">
            <!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->

           LOGO
        </div>
    </a> <button type="button" aria-label="Toggle navigation" class="navbar-toggler collapsed" aria-expanded="false" aria-controls="nav-collapse"
        style="overflow-anchor: none;"><span class="navbar-toggler-icon"></span></button>
    <div id="nav-collapse" class="navbar-collapse collapse" style="display:none;text-align:center;border:1px dotted gray;border-radius:.25rem;z-index:3;margin-top:-1.5rem">
        <ul toggleable="sm" class="navbar-nav" style="flex:auto">
            <li class="nav-item"><a href="/slides" target="_self" class="nav-link nuxt-link-exact-active nuxt-link-active" aria-current="page">Presentazione</a></li>
            <li class="nav-item b-nav-dropdown dropdown" id="__BVID__54"><a role="button" aria-haspopup="true" aria-expanded="false" href="#" target="_self"
                    class="nav-link dropdown-toggle" id="__BVID__54__BV_toggle_">Patrimonio</a>
                <ul tabindex="-1" class="dropdown-menu" aria-labelledby="__BVID__54__BV_toggle_">
                    <li role="presentation"><a href="/patrimonio" role="menuitem" target="_self" class="dropdown-item">Patrimonio</a></li>
                    <li role="presentation">
                        <hr role="separator" aria-orientation="horizontal" class="dropdown-divider">
                    </li>
                    <li role="presentation"><a href="/collab_da" role="menuitem" target="_self" class="dropdown-item">Progetto di ricerca</a></li>
                </ul>
            </li>
            <li class="nav-item"><a href="/maiellaverde" target="_self" class="nav-link">Riabitare San Giovanni</a></li>
            <li id="spy" class="nav-item flex-grow-1 text-muted"><a href="#" target="_self" tabindex="-1" aria-disabled="true" class="nav-link disabled"></a></li>
            <li class="nav-item b-nav-dropdown dropdown" data-v-ee4f1db6="" id="__BVID__69"><a role="button" aria-haspopup="true" aria-expanded="false" href="#" target="_self"
                    class="nav-link dropdown-toggle" id="__BVID__69__BV_toggle_"><img src="/_nuxt/58e75cebaf765e503d29181def4c9fee.svg" width="20" height="20" data-v-ee4f1db6=""
                        class=""></a>
                <ul tabindex="-1" class="dropdown-menu" aria-labelledby="__BVID__69__BV_toggle_">
                    <li role="presentation" data-v-ee4f1db6=""><a href="/en/slides" role="menuitem" target="_self" class="dropdown-item"><img
                                src="/_nuxt/880efdae8333a77ffdf9bd164fe42b45.svg" width="20" height="20" data-v-ee4f1db6="" class=""> <span class="locale-name"
                                data-v-ee4f1db6="">English</span></a></li>
                    <li role="presentation" data-v-ee4f1db6=""><a href="/fr/slides" role="menuitem" target="_self" class="dropdown-item"><img
                                src="/_nuxt/8bbb4186383e665cc3ee9dd093717cbe.svg" width="20" height="20" data-v-ee4f1db6="" class=""> <span class="locale-name"
                                data-v-ee4f1db6="">Français</span></a></li>
                    <li role="presentation" data-v-ee4f1db6=""><a href="/slides" aria-current="page" role="menuitem" target="_self"
                            class="dropdown-item nuxt-link-exact-active nuxt-link-active"><img src="/_nuxt/58e75cebaf765e503d29181def4c9fee.svg" width="20" height="20"
                                data-v-ee4f1db6="" class=""> <span class="locale-name" data-v-ee4f1db6="">Italiano</span></a></li>
                </ul>
            </li>
            <li right="" class="nav-item"><a href="/login" target="_self" class="nav-link"><span style="white-space:nowrap">Area Riservata SVGSVGSVGSVG </span></a></li>
        </ul>
    </div>
</nav>