html,
body,
#__nuxt,
#__layout {
  height: 100% !important;
}

body {
  background: transparent; 
}

ul,
li {
  list-style-type: none;
}

#logo svg {
  width: 32px;
  height: auto;
}

#logo svg path {
  stroke-width: 56;
}
